$navbar-color: #323232;
$navbar-text-color: #fff;
$navbar-link-color: #fff;

$logo-color-1: #42A5F5;
$logo-color-2: #F48FB1;

$global-link-color: #039BE5;

$positive-green: #4CAF50;
$positive-green-hover: #8BC34A;

$global-border-radius: 3px;
